{% extends "base.html" %}
{% load static %}
{% block title %}
about
{% endblock  %}

{% block content %}
<h1 style="color: rgba(54, 53, 53, 0.868); text-align:center; font-weight:lighter">ABOUT <span style="color: rgb(246, 123, 144); font-weight:bold">US</span> </h1>
<h6 style="font-weight: lighter; color:darkcyan">
    Splash Vehicle Wash is one of the earliest vehicle wash in malapppuram. This Vehicle wash is with new modern washing technologies in kerala.The easy accessibility to the hospital by road.
</h6>
<h3 style="color: rgba(54, 53, 53, 0.868); text-align:center; font-weight:lighter">Type Of <span style="color: rgb(246, 123, 144); font-weight:bold">Vehilces</span> </h3>
<img style="height: 100px; width:60px; margin-left:600px;color:deeppink  " src="{% static '/images/m2.jpg'%}" alt="">
<br>
<img style="height: 100px; width:150px; margin-left:550px;color:deeppink  " src="{% static '/images/c1.jpg'%}" alt="">
<br>
<img style="height: 100px; width:150px; margin-left:550px;color:deeppink  " src="{% static '/images/r1.jpg'%}" alt="">
<br>
<img style="height: 100px; width:150px; margin-left:550px;color:deeppink  " src="{% static '/images/l2.jpg'%}" alt="">
<br>
<img style="height: 100px; width:150px; margin-left:550px;color:deeppink  " src="{% static '/images/b1.jpg'%}" alt="">
<br>
<img style="height: 100px; width:150px; margin-left:550px;color:deeppink  " src="{% static '/images/lorry66.png'%}" alt="">

{% endblock  %}