{% extends "base.html" %}
{% load static %}

{% block title %}
contact
{% endblock  %}

{% block content %}
<h1 style="color: rgba(54, 53, 53, 0.868); text-align:center; font-weight:lighter">CONTACT <span style="color: rgb(246, 123, 144); font-weight:bold">INFO</span> </h1>
<div style="background-color: rgb(245, 142, 159); color:aliceblue">
    <h5>
    <img style="height: 100px; width:60px; margin-left:200px;color:deeppink  " src="{% static '/images/loc.jpg'%}" alt="">
        SPLASH VEHICLE WASH 
        NH 67 KOLAPPURAM,
        KERALA,INDIA
</h5>
    
</div>
<div style="background-color: rgb(245, 142, 159); color:aliceblue">
    <h5>
    <img style="height: 100px; width:60px; margin-left:200px;  " src="{% static '/images/mail2.jpg'%}" alt="">
      splashvehiclewash@gmail.com
</h5>
    
</div>
<div style="background-color: rgb(245, 142, 159); color:aliceblue">
    <h5>
    <img style="height: 100px; width:60px; margin-left:200px;  " src="{% static '/images/phone.jpg'%}" alt="">
      +919876543210,
      +919786543201
</h5>
    
</div>



{% endblock  %}